.myProgress {
    position: relative;
    width: 250px;
    height: 25px;
    background-color: grey;
    border: 3px solid black;
    border-radius: 7px;
    text-align: center;
}
.myBar {
    position: absolute;
    height: 100%;
    background-color: rgb(50, 205, 50);
    border-right: 2px solid black;
    border-radius: 5px;
}
.barText {
    position: absolute;
    margin: 0 auto;
    margin-top: -3px;
    margin-left: -15px;
    z-index: 3;
}
.flashProgress {
    z-index: 1;
    border-color: white;
    visibility: hidden;
}
.flashBar {
    z-index: 2;
    border-color: white;
    visibility: visible;
}
#log {
    min-height: 400px;
}
#base64 {
    font-family: "Courier New", serif;
    color: #ddd;
    font-size: 18px;
}